* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
      display: grid;
      grid-template-columns: 10% auto 50px auto 50px auto 50px auto 10%;

  }
  .header {
    background-color: black; 
    width: 100vw;
    height: 100vh;
}